name: Node.js CI

on:
  push:
    branches: ['main']
  pull_request:
    branches: ['main']

jobs:
  build:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [18.x]

    steps:
      - uses: actions/checkout@v3
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v3
        with:
          node-version: ${{ matrix.node-version }}
          cache: 'npm'
      - run: npm ci
      - run: npm test
      - run: npm run lint
      - run: npm run build
      - run: npm pack
      # # Run the tests in the examples folder
      # # redux-saga:
      # - run: |
      #     cd examples/redux-saga
      #     npm install
      #     npm install ../../jest-websocket-mock-*
      #     npm test -- --coverage
      # # hooks:
      # - run: |
      #     cd examples/hooks
      #     npm install
      #     npm install ../../jest-websocket-mock-*
      #     npm test -- --coverage

  coverage:
    needs: build
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Use Node.js 18.x
        uses: actions/setup-node@v3
        with:
          node-version: 18
      - run: npm ci
      - run: npm install -g codecov
      - run: npm test -- --coverage
      - run: codecov
